<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=8.2.14.1204, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />-->
  </configSections>
  <connectionStrings>
    <add name="integraMobile.Reports.Properties.Settings.integraMobileReports" connectionString="Data Source=(local)\SQLEXPRESS2012;Initial Catalog=integraMobileIPS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Reports.Properties.Settings.integraMobileReports.Cache" connectionString="Data Source=HBUSQUE-LAPTOP\SQLEXPRESS2012;Initial Catalog=ReportingState;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<Telerik.Reporting>
    <Cache provider="Database">
      <Providers>
        <Provider name="Database">
          <Parameters>
            <Parameter name="BackendName" value="mssql" />
            <Parameter name="ConnectionString" value="Data Source=HBUSQUE-LAPTOP\SQLEXPRESS2012;Initial Catalog=ASPState;Integrated Security=True" />
          </Parameters>
        </Provider>
      </Providers>
    </Cache>-->
    <!--
    <Cache provider="File">
      <Providers>
        <Provider name="File">
          <Parameters>
            <Parameter name="BasePath" value="C:\MyDataCache" />
          </Parameters>
        </Provider>
      </Providers>
    </Cache>
    -->
  <!--</Telerik.Reporting>-->
</configuration>