<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="integraMobile.WS.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <integraMobile.WS.Test.Properties.Settings>
            <setting name="integraMobile_WS_Test_integraMobileWS_integraMobileWS"
                serializeAs="String">
                <value>http://localhost:4092/integraMobileWS.asmx</value>
            </setting>
        </integraMobile.WS.Test.Properties.Settings>
    </applicationSettings>
  <appSettings>
  <!--IntegraMobileWS-->
    <!--<add key="WSUrl" value="https://ws.iparkme.com/Dev/integraMobileWS/integraMobileWS.asmx" />-->
    <add key="WSUrl" value="http://localhost:4092/integraMobileWS.asmx"/>
    <add key="WSAuthHashKey" value="jR]qrB)N2VH4¿_eYu,sQhX]p"/>
    <add key="WSHttpUser" value="integraMobilePreProd"/>
    <add key="WSHttpPassword" value="%2~p~C%A0Z"/>
    <add key="WSTimeout" value="15000"/>
  </appSettings>
</configuration>