<?xml version="1.0"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=MSI;Initial Catalog=integraMobileDev;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--IntegraMobileWS-->
    <add key="WSUrl" value="https://ws.iparkme.com/Dev/integraMobileWS/integraMobileWS.asmx"/>
    <add key="WSAuthHashKey" value="jR]qrB)N2VH4¿_eYu,sQhX]p"/>
    <add key="WSHttpUser" value="integraMobilePreProd"/>
    <add key="WSHttpPassword" value="%2~p~C%A0Z"/>
    <add key="WSTimeout" value="15000"/>
  </appSettings>
</configuration>
