.grid {
    border-style: none;
}

.grid .k-toolbar
{
    background-color: white;
    /*min-height: 27px;*/
    padding: 2em 0em 1em 1em;
}

.grid .k-state-selected {    
    background-image: none,-webkit-linear-gradient(top,#72b5c9 0,#72b5c9 100%);
    border-color: #72b5c9;
}

.grid .k-header {
    background-color: #a9d4e1;
}

.grid .k-alt {
    background-color: #edeaea;
}

.type-label
{
    vertical-align: middle;
    padding-right: .5em;
}
#type
{
    vertical-align: middle;
}

.k-grid tbody tr{
    height: 25px;
}
 
.k-grid td{
    white-space: nowrap;
}

.gridFilter {
    float: right;
}

.imageToolbar
{
	display:inline-block;
	height: 32px;
	width: 32px;
	background: transparent url(img/icon_lib/128x128/stop.png) no-repeat 50% 50%;
	background-size: contain;
	border:none;	
}

.exportXls {
    background-image: Url(img/grid/exportExcel.png);
    /*height: 24px;*/
}
.exportPdf {
    background-image: Url(img/grid/exportPdf.png);
    /*height: 24px;*/
}
.clear {
    background-image: Url(img/grid/clearState.png);
    /*height: 24px;*/
}
.filterDisabled {
    background-image: Url(img/grid/filterInfo.png);
    /*height: 24px;*/
}

.filterEnabled {
    background-image: Url(img/grid/filterInfoActive.png);
}

.k-state-selected,
.k-button:active,
.k-draghandle.k-state-selected:hover {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, #72b5c9 0px, #53aae2 100%);
  background-image: none, -moz-linear-gradient(top, #72b5c9 0px, #53aae2 100%);
  background-image: none, -o-linear-gradient(top, #72b5c9 0px, #53aae2 100%);
  background-image: none, linear-gradient(to bottom, #72b5c9 0px, #53aae2 100%);
}
