<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="integraMobile.OxxoWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="integraMobile.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="INTEGRAMOBILEOXXOWS_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="C:\inetpub\log4net\integraMobile.OxxoWS.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEOXXOWS_LOGFILE" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Currency_IsoCode" value="MXN" />
    <add key="InstallationId" value="1" />
    <add key="Token" value="OXXO_c0s45pr535" />

    <add key="WSUrl" value="http://localhost/integraMobile.WS/integraMobileWS.asmx" />
    <add key="WSAuthHashKey" value="Q·Khg4450=%¿{[!L3123mQ(%" />
    <add key="WSHttpUser" value="" />
    <add key="WSHttpPassword" value="" />
    <add key="IsProxy" value="1" />
    <add key="ProxyURL" value="https://ws.iparkme.com/PreProd/oxxo" />



    <add key="integraSenderWS_Username" value="integraSenderPreProd" />
    <add key="integraSenderWS_Password" value="Kthz9,YoxO" />
    <add key="integraSenderWS_SendSMSs" value="false" />
    
  </appSettings>

  <connectionStrings>
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=HBUSQUE-LAPTOP\SQLEXPRESS2012;Initial Catalog=integraMobileIPS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <integraMobile.OxxoWS.Properties.Settings>
      <setting name="integraMobile_OxxoWS_integraMobileWS_integraMobileWS" serializeAs="String">
        <value>http://localhost/integraMobile.WS/integraMobileWS.asmx</value>
      </setting>
    </integraMobile.OxxoWS.Properties.Settings>
    <integraMobile.Domain.Properties.Settings>
      <setting name="integraMobile_Domain_integraSenderWS_integraSender" serializeAs="String">
        <value>https://ws.iparkme.com/PreProd/integraSenderWS/integraSender.asmx</value>
      </setting>
    </integraMobile.Domain.Properties.Settings>
  </applicationSettings>
  
  <system.web>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
