<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="NumCharactersActivationSMS" value="6" />
    <add key="integraSenderWS_Username" value="integraSender" />
    <add key="integraSenderWS_Password" value="Sender2012" />
    <!-- If doesn't exist or null application is multi currency -->
    <add key="ApplicationCurrencyISOCode" value="" />
    <!-- Mobile Session Parameters    -->
    <add key="SessionTimeoutInMinutes" value="60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="integraMobileContext" connectionString="Data Source=;DESKTOP-6NLP5KT\MARIU Catalog=integraMobile;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileDevConnectionString" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString1" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobilePreProdConnectionString" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobilePreProdConnectionString1" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=False;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString2" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobile;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobilePreProdConnectionString2" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU\SQLEXPRESS;Initial Catalog=integraMobilePreProd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString3" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString4" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobile;Integrated Security=False;User ID=iis;Password=iis" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString5" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobile;Integrated Security=False;User ID=iis" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Domain.Properties.Settings.integraMobilePreProdConnectionString3" connectionString="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=False;User ID=iis;Password=iis" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <integraMobile.Domain.Properties.Settings>
      <setting name="integraMobile_Domain_integraSenderWS_integraSender" serializeAs="String">
        <value>http://82.223.239.146/integraSenderWS/integraSender.asmx</value>
      </setting>
    </integraMobile.Domain.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
