.bky-config:before {
  content: "\e916";
}
.bky-QR:before {
  content: "\e900";
}
.bky-add:before {
  content: "\e901";
}
.bky-add-time:before {
  content: "\e902";
}
.bky-alternative:before {
  content: "\e903";
}
.bky-arrow:before {
  content: "\e904";
}
.bky-billing:before {
  content: "\e905";
}
.bky-calendar:before {
  content: "\e906";
}
.bky-cancel:before {
  content: "\e907";
}
.bky-car-add:before {
  content: "\e908";
}
.bky-car-delete:before {
  content: "\e909";
}
.bky-car-leave:before {
  content: "\e90a";
}
.bky-car-park:before {
  content: "\e90b";
}
.bky-car-select:before {
  content: "\e90c";
}
.bky-car-services:before {
  content: "\e90d";
}
.bky-card-add:before {
  content: "\e90e";
}
.bky-card-lock:before {
  content: "\e90f";
}
.bky-card-pay:before {
  content: "\e910";
}
.bky-card-refund:before {
  content: "\e911";
}
.bky-card-retrive:before {
  content: "\e912";
}
.bky-card-select:before {
  content: "\e913";
}
.bky-card-transaction:before {
  content: "\e914";
}
.bky-cards:before {
  content: "\e915";
}
.bky-config:before {
  content: "\e916";
}
.bky-delete:before {
  content: "\e917";
}
.bky-done:before {
  content: "\e918";
}
.bky-down:before {
  content: "\e919";
}
.bky-edit:before {
  content: "\e91a";
}
.bky-end-time:before {
  content: "\e91b";
}
.bky-fav:before {
  content: "\e91c";
}
.bky-fine:before {
  content: "\e91d";
}
.bky-folder:before {
  content: "\e91e";
}
.bky-help:before {
  content: "\e91f";
}
.bky-hide:before {
  content: "\e920";
}
.bky-info:before {
  content: "\e921";
}
.bky-ini-time:before {
  content: "\e922";
}
.bky-like:before {
  content: "\e923";
}
.bky-loaction:before {
  content: "\e924";
}
.bky-logout:before {
  content: "\e925";
}
.bky-mail-add:before {
  content: "\e926";
}
.bky-mail-ok:before {
  content: "\e927";
}
.bky-mail-send:before {
  content: "\e928";
}
.bky-map:before {
  content: "\e929";
}
.bky-minus:before {
  content: "\e92a";
}
.bky-notification:before {
  content: "\e92b";
}
.bky-ok:before {
  content: "\e92c";
}
.bky-operation:before {
  content: "\e92d";
}
.bky-operations-hist:before {
  content: "\e92e";
}
.bky-options:before {
  content: "\e92f";
}
.bky-park:before {
  content: "\e930";
}
.bky-password:before {
  content: "\e931";
}
.bky-payment:before {
  content: "\e932";
}
.bky-permit-buy:before {
  content: "\e933";
}
.bky-permit-operations:before {
  content: "\e934";
}
.bky-phone-actualize:before {
  content: "\e935";
}
.bky-phone-confirm:before {
  content: "\e936";
}
.bky-picture:before {
  content: "\e937";
}
.bky-plus:before {
  content: "\e938";
}
.bky-profile:before {
  content: "\e939";
}
.bky-promotions:before {
  content: "\e93a";
}
.bky-scan:before {
  content: "\e93b";
}
.bky-search:before {
  content: "\e93c";
}
.bky-sector:before {
  content: "\e93d";
}
.bky-show:before {
  content: "\e93e";
}
.bky-sort-arrows:before {
  content: "\e93f";
}
.bky-start:before {
  content: "\e940";
}
.bky-suscriptions:before {
  content: "\e941";
}
.bky-tarif:before {
  content: "\e942";
}
.bky-ticket:before {
  content: "\e943";
}
.bky-time:before {
  content: "\e944";
}
.bky-trash:before {
  content: "\e945";
}
.bky-up:before {
  content: "\e946";
}