body
{
}

#lstCities
{
    border: none;

    background-color:none;
    background-color:initial;

    color: #fafafa;
}


#lstCities .licity
{
    margin: 0.5em;
    background: #2481bc url('EysaMobv2/btn-shadow.png') no-repeat 50% 50%;
    background-size: 100% 100%;
    color: #fafafa;
    border: none;



}


#lstCities  .cityItem {

    color: #fafafa;
    background-image: url("EysaMobv2/location-ico.svg");
    background-position: 0.2em center;
    background-repeat: no-repeat;
    background-size: auto 100%;  
      
    padding-left: 2em;
    text-align: left;
}

#lstCities  .cityItem a
{
    display: block;
    margin: 0px;
    padding:0.5em;

    color: #fafafa;
    background: transparent url('EysaMobv2/rarrow-ico.svg') no-repeat 100% 50%;
    background-size: auto 100%;
    border: none;

    text-decoration:none;
    text-transform: uppercase;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}