<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="integraServiceRestarterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="integraServiceRestarterService.Properties.Settings.integraSenderConnectionString"
      connectionString="Data Source=hverdejo-HP\SQLEXPRESS;Initial Catalog=integraSender;Persist Security Info=True;User ID=integraSender;Password=integraSender"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    <!-- Long name for service -->
    <add key="ServiceDisplayName" value="Integra Service Restarter" />
    <!-- Short name for service -->
    <add key="ServiceName" value="IntegraServiceRestarter" />
    <!-- Dependencies for the service limited by ; -->
    <add key="ServiceDependencies" value="" />
    <!-- Pooling time of threads in seconds -->
    <add key="PoolingTime" value="5000" />
    <!-- Time to wait threads to finish -->
    <add key="Stoptime" value="20" />
    <!-- Timeout in milliseconds to restart each service -->
    <add key="ServiceRestartTimeout" value="120000" />
    <!-- List of services to restart separated by | -->
    <add key="ServicesList" value="W3SVC" />
    <!-- Maximum CPU to restart services -->
    <add key="MaxCPU" value="50" />
    <!-- Time to maintain cpu at maximum level to restart services in seconds-->
    <add key="TimeToMaintainMaxCPU" value="60" />
    <!-- Maximum Memory to restart services -->
    <add key="MaxMem" value="90" />
    <!-- Time to maintain memory at maximum level to restart services in seconds-->
    <add key="TimeToMaintainMaxMem" value="300" />
    <!-- Pooling for HealthCheck in ms-->
    <add key="HealthCheckPooling" value="1000" />
    <!-- Maximum Retries for HealthCheck -->
    <add key="MaxRetriesForHealthCheck" value="0" />
    <!-- Maximum Retries for Restart Before Stopping Services -->
    <add key="MaxRetriesForRestart" value="5" />
    <!-- Time in seconds to start services again after Stopping-->
    <add key="TimeToStartAgain" value="90" />


    <!-- WS Username-->
    <add key="WSUsernameHealthCheck" value="integraMobile" />
    <!-- WS Passwords-->
    <add key="WSPasswordHealthCheck" value="$%&amp;MiLR(=!" />
    <!-- WS Timeout-->
    <add key="WSTimeoutHealthCheck" value="5000" />
    <!-- Disc String-->
    <add key="WSDiscString" value="SERVICE" />

    <!-- Mail Parameters -->
    <add key="Mail_FromAddress" value="noreply@eysaservicios.com" />
    <add key="Mail_SMTPUser" value="noreply@eysaservicios.com" />
    <add key="Mail_SMTPPassword" value="NoRepEys@" />
    <add key="Mail_SMTPServer" value="smtp.office365.com" />
    <add key="Mail_SMTPEnableSSL" value="TRUE" />
    <add key="Mail_FromDisplayName" value="EYSAMobile" />
    <add key="Mail_Recipients" value="febermejo@integraparking.com" />
    <add key="Mail_Timeout_in_Minutes" value="5" />

  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="integraServiceRestarter.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <!-- <appender-ref ref="A" /> -->
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="integraMobilePaymentservice.integraServiceRestarterManager">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <integraServiceRestarterService.Properties.Settings>
      <setting name="integraServiceRestarterService_integraMobileWS_integraMobileWS"
        serializeAs="String">
        <value>http://localhost:20556/integraMobileWS.asmx</value>
      </setting>
    </integraServiceRestarterService.Properties.Settings>
  </applicationSettings>
</configuration>