//Colors
// --------------------------
$primary:        #034FC7;
$secondary:      #05D194;
$color-primary:   #034FC7;
$text-secondary: #333333;

//Backgrounds
// --------------------------
$bk-bg-primary:    #034FC7;
$bk-bg-secondary:  #05D194;

//Backgrounds
// --------------------------
$bk-bg-primary:    #034FC7;
$bk-bg-secondary:    #05D194;

// Buttons
// --------------------------
$bk-btn-primary-bg: var(--primary);
$bk-btn-primary-color: var(--bs-white);
