<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="APIUrl" value="https://api.pipl.com/search/?" />
    <!--API OLD mperdia Integra-->
    <!--<add key="APIAuthHashKey" value="CONTACT-PREMIUM-DEMO-e5eftidsgfbyzwweuhiyo2pt" />-->
    <!--API Suspendida dcapitan integra-->
    <!--<add key="APIAuthHashKey" value="CONTACT-PREMIUM-DEMO-78zbgmkfki5swshohefab4nx" />-->
    <!--API NEW mariuciber-->
    <!--<add key="APIAuthHashKey" value="CONTACT-PREMIUM-DEMO-96f3nktrr3daemx1r80ne7lm" />-->

    <!--API NEW Alejandra-->
    <add key="APIAuthHashKey" value="CONTACT-PREMIUM-DEMO-6ywg1xamjye4aywe79ehiuoy" />
    

    <add key="FileNameExcel" value="PersonsListExcel.xlsx" />
    <add key="FileNameTxt" value="PersonsListTxt.txt" />

    <add key="ConnectionString" value="Data Source=DESKTOP-6NLP5KT\MARIU;Initial Catalog=integraMobilePreProd;Integrated Security=true;User Id=integraMobilePreProd;Password=_gISDX'{gBGKZ:HKy'd$oaWK" />

    <add key="QueryCount" value="SELECT COUNT(*) FROM [USERS_SCRAPER] WHERE [USER_EMAIL]='" />
    <add key="QuerySelect" value="SELECT * FROM [USERS_SCRAPER] WHERE [USER_EMAIL]='" />

    <add key="QueryInsert" value="INSERT INTO [USERS_SCRAPER]([USER_EMAIL],[USER_JSON])VALUES('"/>
    

    <add key="QueryUpdateFirst" value="UPDATE [USERS_SCRAPER] SET [USER_JSON]='"/>
    <add key="QueryUpdateLast" value="' WHERE [USER_EMAIL]='"/>
  </appSettings>
</configuration>

