<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="integraMobile.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    <!-- Long name for service -->
    <add key="ServiceDisplayName" value="Integra Mobile Payments Sender" />
    <!-- Short name for service -->
    <add key="ServiceName" value="IntegraMobilePaymentsSender" />
    <!-- Dependencies for the service limited by ; -->
    <add key="ServiceDependencies" value="" />
    <!-- Pooling time of threads in seconds -->
    <add key="PoolingTransactionsManager" value="5" />
    <!-- Seconds for Transaction manager   -->
    <add key="PoolingAutomaticRecharges" value="5" />
    <!-- Seconds for Automatic Recharges   -->
    <add key="PoolingPaymentMeansInvalidation" value="5" />
    <!-- Payment Invalidation Timeout in Seconds   -->
    <add key="InvalidateExpiredMeansAfterNumberOfDays" value="1" />
    <!-- Number of days after payment expiration to invalidate-->
    <!-- Time to wait threads to finish -->
    <add key="Stoptime" value="20" />
    <!-- In case of error number of times to retry sending -->
    <add key="Retries" value="10" />
    <!-- Time to wait after an error in a notification in seconds-->
    <add key="RetriesTime" value="300" />
    <!-- Time in minutes to consider an started transaction like cancelable-->
    <add key="CancelTime" value="30" />
    <!-- Time in seconds to consider a recharge to be pick by the service-->
    <add key="ConfirmWaitTime" value="120" />
    <!-- 3rd Party WS Method Call Timeout in milliseconds    -->
    <add key="3rdPartyWSTimeout" value="5000"/>


    <add key="integraSenderWS_Username" value="integraSender" />
    <add key="integraSenderWS_Password" value="Sender2012" />
    <add key="integraSenderWS_SendSMSs" value="true" />
    <add key="EmailSignatureGraphic" value="http://www.eysamobile.com/integraMobile/Content/img/eysamobile.jpg" />
    <add key="EmailSignatureURL" value="http://www.eysamobile.com" />    
    <!-- CREDITCALL  PARAMETERS -->
    <add key="CREDIT_CALL_EKASHU_FORM_URL" value="https://test.ekashu.com" />
    <add key="CREDIT_CALL_CARD_EASE_URL" value="https://test.cardeasexml.com/generic.cex" />
    <add key="CREDIT_CALL_CARD_EASE_TIMEOUT" value="45000" />
    <add key="CREDIT_CALL_TERMINAL_ID" value="99971533" />
    <add key="CREDIT_CALL_TRANSACTION_KEY" value="ON8cl/CfOp/Bd/d2" />
    <add key="CREDIT_CALL_SELLER_NAME" value="Integra Parking" />
    <!-- IECISA  PARAMETERS -->
    <add key="IECISA_SYNC_URL" value="https://93.191.142.23/CF_WEB_EYSA/WebPlugin/xtn.asp" />
    <add key="IECISA_ACK_URL" value="https://93.191.142.23/CF_WEB_EYSA/WebPlugin/ack.asp " />
    <add key="IECISA_CF_USER" value="0000028002800280" />
    <add key="IECISA_CF_MERCHANT_ID" value="00000280" />
    <add key="IECISA_CF_CENTRE_ID" value="0280" />
    <add key="IECISA_CF_POS_ID" value="0280" />
    <add key="IECISA_CF_TEMPLATE" value="EYSA" />
    <add key="IECISA_MAC_KEY" value="193D59719B1B2662A8DB8A2EF1223B4E" />    
    <!-- PAYPAL PARAMETERS   -->
    <add key="PAYPAL_API_APPLICATION-ID" value="APP-80W284485P519543T" />
    <add key="PAYPAL_API_DEVICE_ID" value="integraMobile" />
    <add key="PAYPAL_API_IP_ADDRESS" value="127.0.0.1" />
    <add key="PAYPAL_API_TRUST_ALL" value="true" />
    <add key="PAYPAL_API_ENVIRONMENT" value="sandbox" />
    <add key="PAYPAL_API_ENPOINT" value="https://svcs.sandbox.paypal.com/" />
    <add key="PAYPAL_API_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd=" />
    <add key="PAYPAL_API_REQUESTFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_RESPONSEFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_PAYPAL_ID" value="febermejo.b@integraparking.com" />
    <add key="PAYPAL_API_USERNAME" value="febermejo.b_api1.integraparking.com" />
    <add key="PAYPAL_API_PASSWORD" value="1376412974" />
    <add key="PAYPAL_API_SIGNATURE" value="AKqzi.yUjnz8hyYeD6pPXlHMkAs0As.2CMRka35jcu-bDM73KfFQSUOk" />
    <add key="PAYPAL_API_VERSION" value="96.0" />
    <add key="PAYPAL_PREAPPROVAL_MAX_NUMBER_PAYMENTS" value="500" />
    <add key="PAYPAL_PREAPPROVAL_MAX_TOTAL_AMOUNT" value="1500.00" />
    <add key="PAYPAL_PREAPPROVAL_MAX_AMOUNT_PER_PAYMENT" value="50.00" />
    <add key="PAYPAL_PREAPPROVAL_AMOUNTS_CURRENCY" value="EUR" />
    <!-- PAYPAL RESTAPI PARAMETERS   -->
    <add key="PAYPAL_RESTAPI_API_PREFIX" value="https://api.sandbox.paypal.com/v1/" />
    <add key="PAYPAL_RESTAPI_CLIENT_ID" value="AYHorKnEhOo7Wni9WkNCCTF1nTa4wr2_-8izgrDsRXGlBqO7gCG8RyPFkuAOAkB-QC9JThQS_5MN8G_G" />
    <add key="PAYPAL_RESTAPI_CLIENT_SECRET" value="EHyjggDTu0LZadQ_EFhKjtN5Iw77B42EzzlvZhHbx4J3xXTLBaaDhrRzUagpws3XSHsSh-9fIjXHQm8g" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=KIKE-HP\SQLEXPRESS;Initial Catalog=integraMobile;Persist Security Info=True;User ID=iis;Password=iis" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <integraMobile.Domain.Properties.Settings>
      <setting name="integraMobile_Domain_integraSenderWS_integraSender" serializeAs="String">
        <value>http://eagle.apcloud.es/integraSenderWS/integraSender.asmx</value>
      </setting>
    </integraMobile.Domain.Properties.Settings>
    </applicationSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="integraMobilePaymentsManager.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <!-- <appender-ref ref="A" /> -->
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="integraMobilePaymentservice.CintegraMobilePaymentsManager">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <logger name="SQLCustomersRepository">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <logger name="SQLGeograficAndTariffsRepository">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <logger name="SQLInfraestructureRepository">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <paypal>
    <endpoints>
      <wsdl>
        <environment name="live">
          <port name="PayPalAPI">https://api.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-aa-3t.paypal.com/2.0/</port>
        </environment>
        <environment name="sandbox">
          <port name="PayPalAPI">https://api.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
        </environment>
        <environment name="beta-sandbox">
          <port name="PayPalAPI">https://api.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
        </environment>
      </wsdl>
    </endpoints>
  </paypal>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>