<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="integraMobile.StopExpiredOperations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <!-- type of allowed algorithms: HMACSHA256, MACTripleDES    -->
    <add key="AuthHashAlgorithm" value="HMACSHA256"/>

    <!-- WS Method Call Timeout in milliseconds    -->
    <add key="WSTimeout" value="15000"/>
    
    <add key="WSUrl" value="http://localhost/integraMobile.WS/integraMobileWS.asmx"/>
    <add key="WSAuthHashKey" value="Q·Khg4450=%¿{[!L3123mQ(%"/>
    <add key="WSHttpUser" value=""/>
    <add key="WSHttpPassword" value=""/>
    <!--<add key="WSUrl" value="https://ws.iparkme.com/Dev/integraMobileWS/integraMobileWS.asmx"/>
    <add key="WSAuthHashKey" value="jR]qrB)N2VH4¿_eYu,sQhX]p"/>
    <add key="WSHttpUser" value="integraMobilePreProd"/>
    <add key="WSHttpPassword" value="%2~p~C%A0Z"/>-->

    <add key="BlockMaxOperations" value="50"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <integraMobile.StopExpiredOperations.Properties.Settings>
            <setting name="integraMobile_StopExpiredOperations_integraMobileWS_integraMobileWS" serializeAs="String">
                <value>http://localhost/integraMobile.WS/integraMobileWS.asmx</value>
            </setting>
        </integraMobile.StopExpiredOperations.Properties.Settings>
    </applicationSettings>

  <log4net>
    <appender name="INTEGRAMOBILESTOPEXPIREDOPERATIONS_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\integraMobileStopExpiredOperations.log"/>
      <appendToFile value="true"/>
      <encoding value="UTF-8"/>
      <rollingStyle value="5"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="INTEGRAMOBILESTOPEXPIREDOPERATIONS_LOGFILE"/>
    </root>
  </log4net>
  
</configuration>
