<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InsertExternalTickets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="AuthHashKey" value=".s#fhN^nZ5xaNW].Tk:cxP=W"/>
  </appSettings>  
  <applicationSettings>
    <InsertExternalTickets.Properties.Settings>
      <setting name="InsertExternalTickets_integraExternalServicesWS_integraExternalServices"
        serializeAs="String">
        <value>https://ws.iparkme.com/Bilbao/integraMobileWS/integraExternalServices.asmx</value>
      </setting>
    </InsertExternalTickets.Properties.Settings>
  </applicationSettings>
</configuration>